html,body {
	width: 100%;
	font-family: "微软雅黑";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //取消touch高亮效果
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 200px;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 195px;
    }
}
@media screen and (max-width: 1440px) {
    html {
        font-size: 190px;
    }
}
@media screen and (max-width: 1366px) {
    html {
        font-size: 185px;
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 180px;
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 170px;
    }
}
@media screen and (max-width: 800px) {
    html {
        font-size: 160px;
    }
}
@media screen and (max-width: 700px) {
    html {
        font-size: 150px;
    }
}
@media screen and (max-width: 568px) {
    html {
        font-size: 130px;
    }
}
@media screen and (max-width: 414px) {
    html {
        font-size: 110px;
    }
}
@media screen and (max-width: 384px) {
    html {
        font-size: 102px;
    }
}
@media screen and (max-width: 375px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 360px) {
    html {
        font-size: 96px;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 85px;
    }
}

*::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
*::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd;
}
*::-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd;
}
